.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 20px;
}
